.canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.line {
    color: black;
    background-color:black;
    position: 'absolute'; 
    top: '260vh';
    left: '10vw'; 
}

