
.containerH {
    height: 100%;
    width: 100%;
}

.containerText {
    display: flex;
    justify-content:center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.textT{
    margin:20px;
    margin-top: 20px;
    font-size: 24px;
}



.containerHouse {
    width: 100%; 
    height: 100vh; 
    margin: 0px; 
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.canvasHouse {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.footerL {
    background: linear-gradient(30deg, #f80303, #7079ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .linka{
      color: white;
      -webkit-text-fill-color: white;
  }